
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px outset black;
}

.column{
    aspect-ratio: 1/1;
    width: 23px;
    outline: 1px outset;
}
/* delete later */
.column{
    color: red;
}
#container{
    margin: 200px;
}